# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# WordPress uploads
wp-content/uploads/

# WordPress cache
wp-content/cache/

# WordPress languages
wp-content/languages/

# Local env
.env

# Docker volumes
db_data

# .idea
.idea